# EXTRACT DATA FROM DB AND LOAD IT INTO DWH

Create connection to the datasource
,Read data from DB source
,Load it into Variable
,Create connection to destination with engine that load data into
,load into sql

# Install MySQL connector for Python

In [229]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\achraf\appdata\roaming\python\python310\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Install ODBC driver for SQL Server

In [230]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\users\achraf\appdata\roaming\python\python310\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Install SQLAlchemy for database interaction

In [231]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\achraf\appdata\roaming\python\python310\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\achraf\appdata\roaming\python\python310\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\achraf\appdata\roaming\python\python310\site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [232]:
## for accessing and reading data from sql db
import pyodbc
import pandas as pd
import os
import mysql.connector

In [233]:
pyodbc.drivers()

['SQL Server',
 'Oracle dans OraDB19Home1',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [234]:
#### Mysql , sql server, oracle, postgresql, sqlite, mariadb, etc.
from mysql.connector import Error
try:
    conn = mysql.connector.connect(
        host='localhost',
        user='root',  
        password='',  
        database='sales_management',
        port=3306
    )
    print("Connection successful")
    
except Error as e:
    print(f"Erreur de connexion MySQL: {e}")

Connection successful

In [235]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM orders")
for row in cursor.fetchall():
    print(row)

(1, 1, datetime.date(2025, 7, 15), Decimal('20200.00'), 'Completed')
(2, 2, datetime.date(2025, 7, 16), Decimal('17000.00'), 'Pending')
(3, 3, datetime.date(2025, 7, 17), Decimal('1500.00'), 'Completed')
(4, 13, datetime.date(2025, 6, 11), Decimal('33961.01'), 'Pending')
(5, 6, datetime.date(2025, 3, 4), Decimal('47507.26'), 'Pending')
(6, 11, datetime.date(2025, 4, 11), Decimal('13647.74'), 'Pending')
(7, 8, datetime.date(2025, 1, 8), Decimal('2589.02'), 'Completed')
(8, 6, datetime.date(2025, 2, 1), Decimal('2068.40'), 'Pending')
(9, 1, datetime.date(2025, 2, 23), Decimal('19251.20'), 'Cancelled')
(10, 17, datetime.date(2025, 1, 20), Decimal('5121.64'), 'Completed')
(11, 9, datetime.date(2025, 5, 11), Decimal('16874.32'), 'Pending')
(12, 8, datetime.date(2025, 3, 10), Decimal('42539.90'), 'Completed')
(13, 16, datetime.date(2025, 4, 24), Decimal('43864.62'), 'Pending')
(14, 13, datetime.date(2025, 6, 4), Decimal('19331.86'), 'Completed')
(15, 8, datetime.date(2025, 1, 4), Decimal('47294.97'), 'Pending')
(16, 7, datetime.date(2025, 5, 4), Decimal('25794.86'), 'Pending')
(17, 17, datetime.date(2025, 4, 23), Decimal('36246.31'), 'Cancelled')
(18, 8, datetime.date(2025, 4, 29), Decimal('12599.57'), 'Completed')
(19, 9, datetime.date(2025, 3, 28), Decimal('5200.85'), 'Completed')
(20, 18, datetime.date(2025, 2, 15), Decimal('32827.95'), 'Pending')
(21, 10, datetime.date(2025, 6, 14), Decimal('8217.02'), 'Completed')
(22, 14, datetime.date(2025, 2, 28), Decimal('28875.33'), 'Cancelled')
(23, 13, datetime.date(2025, 4, 22), Decimal('8160.16'), 'Cancelled')
(24, 3, datetime.date(2025, 5, 21), Decimal('29533.09'), 'Pending')
(25, 3, datetime.date(2025, 5, 27), Decimal('38378.70'), 'Pending')
(26, 10, datetime.date(2025, 2, 12), Decimal('41213.11'), 'Pending')
(27, 8, datetime.date(2025, 5, 27), Decimal('46922.16'), 'Completed')
(28, 5, datetime.date(2025, 3, 17), Decimal('25537.88'), 'Completed')
(29, 14, datetime.date(2025, 5, 11), Decimal('28299.15'), 'Pending')
(30, 8, datetime.date(2025, 1, 10), Decimal('7540.10'), 'Pending')
(31, 6, datetime.date(2025, 5, 29), Decimal('13525.10'), 'Cancelled')
(32, 7, datetime.date(2025, 2, 3), Decimal('47861.54'), 'Completed')
(33, 1, datetime.date(2025, 4, 13), Decimal('40474.14'), 'Completed')
(34, 1, datetime.date(2025, 2, 27), Decimal('25347.70'), 'Pending')
(35, 3, datetime.date(2025, 1, 2), Decimal('35354.83'), 'Pending')
(36, 5, datetime.date(2025, 5, 7), Decimal('43044.66'), 'Completed')
(37, 5, datetime.date(2025, 4, 20), Decimal('20078.06'), 'Completed')
(38, 11, datetime.date(2025, 2, 4), Decimal('19656.39'), 'Pending')
(39, 12, datetime.date(2025, 6, 10), Decimal('35319.27'), 'Cancelled')
(40, 20, datetime.date(2025, 3, 2), Decimal('41843.89'), 'Completed')
(41, 3, datetime.date(2025, 2, 28), Decimal('11093.48'), 'Completed')
(42, 16, datetime.date(2025, 4, 18), Decimal('35208.56'), 'Cancelled')
(43, 6, datetime.date(2025, 3, 5), Decimal('47463.56'), 'Pending')
(44, 8, datetime.date(2025, 1, 4), Decimal('47609.56'), 'Pending')
(45, 8, datetime.date(2025, 1, 11), Decimal('5031.07'), 'Completed')
(46, 3, datetime.date(2025, 5, 31), Decimal('38783.86'), 'Completed')
(47, 7, datetime.date(2025, 4, 28), Decimal('14846.08'), 'Pending')
(48, 11, datetime.date(2025, 2, 4), Decimal('20212.79'), 'Pending')
(49, 16, datetime.date(2025, 4, 29), Decimal('49953.92'), 'Cancelled')
(50, 19, datetime.date(2025, 4, 20), Decimal('16460.35'), 'Cancelled')
(51, 19, datetime.date(2025, 2, 9), Decimal('19133.91'), 'Completed')
(52, 19, datetime.date(2025, 6, 19), Decimal('49143.75'), 'Completed')
(53, 6, datetime.date(2025, 2, 18), Decimal('25960.41'), 'Cancelled')
(54, 4, datetime.date(2025, 5, 3), Decimal('43276.05'), 'Completed')
(55, 13, datetime.date(2025, 3, 16), Decimal('10393.77'), 'Cancelled')
(56, 3, datetime.date(2025, 3, 12), Decimal('29204.24'), 'Cancelled')
(57, 16, datetime.date(2025, 6, 3), Decimal('44659.49'), 'Cancelled')
(58, 14, datetime.date(2025, 5, 2), Decimal('22161.62'), 'Completed')
(59, 8, datetime.date(2025, 3, 19), Decimal('3517.96'), 'Completed')
(60, 18, datetime.date(2025, 2, 11), Decimal('31068.63'), 'Pending')
(61, 20, datetime.date(2025, 5, 14), Decimal('41086.03'), 'Cancelled')
(62, 15, datetime.date(2025, 2, 11), Decimal('45448.12'), 'Cancelled')
(63, 8, datetime.date(2025, 3, 1), Decimal('30236.38'), 'Cancelled')
(64, 3, datetime.date(2025, 5, 9), Decimal('9282.54'), 'Cancelled')
(65, 3, datetime.date(2025, 3, 31), Decimal('4263.60'), 'Cancelled')
(66, 4, datetime.date(2025, 2, 9), Decimal('30029.36'), 'Completed')
(67, 14, datetime.date(2025, 3, 31), Decimal('24218.31'), 'Cancelled')
(68, 20, datetime.date(2025, 1, 27), Decimal('44002.11'), 'Cancelled')
(69, 19, datetime.date(2025, 6, 23), Decimal('541.41'), 'Completed')
(70, 12, datetime.date(2025, 4, 1), Decimal('41034.22'), 'Pending')
(71, 6, datetime.date(2025, 5, 19), Decimal('50382.80'), 'Cancelled')
(72, 9, datetime.date(2025, 2, 1), Decimal('27027.71'), 'Completed')
(73, 1, datetime.date(2025, 6, 5), Decimal('8998.69'), 'Completed')
(74, 16, datetime.date(2025, 1, 25), Decimal('16806.06'), 'Completed')
(75, 4, datetime.date(2025, 1, 21), Decimal('5086.13'), 'Completed')
(76, 7, datetime.date(2025, 2, 4), Decimal('2750.43'), 'Pending')
(77, 2, datetime.date(2025, 3, 22), Decimal('921.85'), 'Cancelled')
(78, 10, datetime.date(2025, 3, 3), Decimal('12910.49'), 'Completed')
(79, 6, datetime.date(2025, 6, 6), Decimal('23128.89'), 'Pending')
(80, 19, datetime.date(2025, 4, 13), Decimal('6960.25'), 'Cancelled')
(81, 7, datetime.date(2025, 5, 9), Decimal('33424.57'), 'Completed')
(82, 16, datetime.date(2025, 3, 1), Decimal('20347.57'), 'Cancelled')
(83, 16, datetime.date(2025, 5, 28), Decimal('41328.34'), 'Pending')
(84, 14, datetime.date(2025, 4, 19), Decimal('46968.69'), 'Cancelled')
(85, 8, datetime.date(2025, 3, 4), Decimal('32164.24'), 'Completed')
(86, 15, datetime.date(2025, 2, 9), Decimal('47370.87'), 'Completed')
(87, 8, datetime.date(2025, 4, 29), Decimal('12404.72'), 'Completed')
(88, 8, datetime.date(2025, 1, 30), Decimal('37277.73'), 'Completed')
(89, 15, datetime.date(2025, 1, 6), Decimal('979.67'), 'Cancelled')
(90, 15, datetime.date(2025, 5, 21), Decimal('36031.38'), 'Completed')
(91, 20, datetime.date(2025, 2, 1), Decimal('48911.29'), 'Completed')
(92, 14, datetime.date(2025, 4, 5), Decimal('27530.71'), 'Completed')
(93, 20, datetime.date(2025, 4, 18), Decimal('720.75'), 'Completed')
(94, 3, datetime.date(2025, 1, 6), Decimal('36729.28'), 'Pending')
(95, 10, datetime.date(2025, 5, 8), Decimal('9262.95'), 'Cancelled')
(96, 5, datetime.date(2025, 5, 26), Decimal('21620.68'), 'Cancelled')
(97, 3, datetime.date(2025, 4, 22), Decimal('35095.47'), 'Pending')
(98, 20, datetime.date(2025, 1, 1), Decimal('5972.54'), 'Pending')
(99, 8, datetime.date(2025, 3, 2), Decimal('25349.71'), 'Pending')
(100, 18, datetime.date(2025, 1, 11), Decimal('30675.36'), 'Cancelled')
(101, 8, datetime.date(2025, 3, 9), Decimal('37820.76'), 'Pending')
(102, 16, datetime.date(2025, 1, 18), Decimal('7318.73'), 'Pending')
(103, 12, datetime.date(2025, 4, 18), Decimal('16343.83'), 'Cancelled')

In [236]:
#read orders table
query = "SELECT * FROM orders"
orders = pd.read_sql(query, conn)
orders

C:\Users\ACHRAF\AppData\Local\Temp\ipykernel_3520\2762092748.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders = pd.read_sql(query, conn)

     order_id  customer_id  order_date  total_amount     status
0           1            1  2025-07-15      20200.00  Completed
1           2            2  2025-07-16      17000.00    Pending
2           3            3  2025-07-17       1500.00  Completed
3           4           13  2025-06-11      33961.01    Pending
4           5            6  2025-03-04      47507.26    Pending
..        ...          ...         ...           ...        ...
98         99            8  2025-03-02      25349.71    Pending
99        100           18  2025-01-11      30675.36  Cancelled
100       101            8  2025-03-09      37820.76    Pending
101       102           16  2025-01-18       7318.73    Pending
102       103           12  2025-04-18      16343.83  Cancelled

[103 rows x 5 columns]

In [237]:
orders.head()

   order_id  customer_id  order_date  total_amount     status
0         1            1  2025-07-15      20200.00  Completed
1         2            2  2025-07-16      17000.00    Pending
2         3            3  2025-07-17       1500.00  Completed
3         4           13  2025-06-11      33961.01    Pending
4         5            6  2025-03-04      47507.26    Pending

In [238]:
#read customers table
query = "SELECT * FROM customers"
customers = pd.read_sql(query, conn)
customers

C:\Users\ACHRAF\AppData\Local\Temp\ipykernel_3520\569836925.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers = pd.read_sql(query, conn)

,customer_id,name,email,phone,address,city,country,created_at
0,1,John Doe,john@example.com,+212600000001,123 Main Street,Marrakech,Morocco,2025-07-17 15:09:35
1,2,Sarah Connor,sarah@example.com,+212600000002,456 Palm Avenue,Casablanca,Morocco,2025-07-17 15:09:35
2,3,Ali Hassan,ali@example.com,+212600000003,789 Medina Road,Fes,Morocco,2025-07-17 15:09:35
3,4,Emma Smith,emma@example.com,+212600000004,321 Ocean Blvd,Rabat,Morocco,2025-07-17 15:09:35
4,5,Client_001,client1@example.com,+212676439625,Address_1,Fes,Morocco,2025-07-17 15:12:31
5,6,Client_002,client2@example.com,+212689230406,Address_2,Rabat,Morocco,2025-07-17 15:12:31
6,7,Client_003,client3@example.com,+212607421141,Address_3,Fes,Morocco,2025-07-17 15:12:31
7,8,Client_004,client4@example.com,+212637928052,Address_4,Fes,Morocco,2025-07-17 15:12:31
8,9,Client_005,client5@example.com,+212653842747,Address_5,Rabat,Morocco,2025-07-17 15:12:31
9,10,Client_006,client6@example.com,+212681659761,Address_6,Fes,Morocco,2025-07-17 15:12:31
10,11,Client_007,client7@example.com,+212666950780,Address_7,Rabat,Morocco,2025-07-17 15:12:31
11,12,Client_008,client8@example.com,+212637127008,Address_8,Rabat,Morocco,2025-07-17 15:12:31
12,13,Client_009,client9@example.com,+212602856169,Address_9,Agadir,Morocco,2025-07-17 15:12:31
13,14,Client_010,client10@example.com,+212620124169,Address_10,Rabat,Morocco,2025-07-17 15:12:31
14,15,Client_011,client11@example.com,+212656653716,Address_11,Rabat,Morocco,2025-07-17 15:12:31
15,16,Client_012,client12@example.com,+212695303126,Address_12,Marrakech,Morocco,2025-07-17 15:12:31
16,17,Client_013,client13@example.com,+212600876001,Address_13,Rabat,Morocco,2025-07-17 15:12:31
17,18,Client_014,client14@example.com,+212658915899,Address_14,Casablanca,Morocco,2025-07-17 15:12:31
18,19,Client_015,client15@example.com,+212611518126,Address_15,Rabat,Morocco,2025-07-17 15:12:31
19,20,Client_016,client16@example.com,+212688601325,Address_16,Marrakech,Morocco,2025-07-17 15:12:31
20,21,Client_017,client17@example.com,+212679762080,Address_17,Fes,Morocco,2025-07-17 15:12:31
21,22,Client_018,client18@example.com,+212618067648,Address_18,Fes,Morocco,2025-07-17 15:12:31
22,23,Client_019,client19@example.com,+212625426610,Address_19,Agadir,Morocco,2025-07-17 15:12:31
23,24,Client_020,client20@example.com,+212620496794,Address_20,Marrakech,Morocco,2025-07-17 15:12:31

In [239]:
customers.head()

,customer_id,name,email,phone,address,city,country,created_at
0,1,John Doe,john@example.com,+212600000001,123 Main Street,Marrakech,Morocco,2025-07-17 15:09:35
1,2,Sarah Connor,sarah@example.com,+212600000002,456 Palm Avenue,Casablanca,Morocco,2025-07-17 15:09:35
2,3,Ali Hassan,ali@example.com,+212600000003,789 Medina Road,Fes,Morocco,2025-07-17 15:09:35
3,4,Emma Smith,emma@example.com,+212600000004,321 Ocean Blvd,Rabat,Morocco,2025-07-17 15:09:35
4,5,Client_001,client1@example.com,+212676439625,Address_1,Fes,Morocco,2025-07-17 15:12:31

In [240]:
#read payments table
query = "SELECT * FROM payments"
payments = pd.read_sql(query, conn)
payments

C:\Users\ACHRAF\AppData\Local\Temp\ipykernel_3520\4164752859.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payments = pd.read_sql(query, conn)

     payment_id  order_id  amount_paid        payment_date payment_method
0             1         1     20200.00 2025-07-17 15:09:36    Credit Card
1             2         3      1500.00 2025-07-17 15:09:36           Cash
2             3         3     37304.07 2025-04-26 00:00:00         Paypal
3             4        98     45874.15 2025-04-30 00:00:00  Bank Transfer
4             5        90     37102.11 2025-01-03 00:00:00         Paypal
..          ...       ...          ...                 ...            ...
247         248        65      3467.34 2025-03-15 00:00:00         Paypal
248         249        96     13220.20 2025-03-23 00:00:00           Cash
249         250       100     27574.41 2025-05-20 00:00:00    Credit Card
250         251        78     11086.81 2025-05-20 00:00:00    Credit Card
251         252        70     43147.99 2025-02-10 00:00:00  Bank Transfer

[252 rows x 5 columns]

In [241]:
payments.head()

   payment_id  order_id  amount_paid        payment_date payment_method
0           1         1     20200.00 2025-07-17 15:09:36    Credit Card
1           2         3      1500.00 2025-07-17 15:09:36           Cash
2           3         3     37304.07 2025-04-26 00:00:00         Paypal
3           4        98     45874.15 2025-04-30 00:00:00  Bank Transfer
4           5        90     37102.11 2025-01-03 00:00:00         Paypal

In [242]:
# Tansformation
try:
    
    # 1. cleaning data
    orders_clean = orders.dropna()  #delete rows with NaN values
    orders_clean['order_date'] = pd.to_datetime(orders_clean['order_date'])  # Convert to datetime
    print(f"✅ Orders nettoyées: {len(orders_clean)} lignes")
    
    # 2. Agregation 
    sales_summary = orders_clean.groupby('customer_id').agg({
        'total_amount': ['sum', 'count', 'mean']
    }).round(2)
    print("✅ Agrégation sales_summary créée")
    
    # 3. join customers with orders
    orders_with_customers = orders_clean.merge(
        customers, 
        on='customer_id',  
        how='left'
    )
    print(f"✅ Jointure réussie: {len(orders_with_customers)} lignes")
    
    # 4. temporal enrichment
    orders_with_customers['order_year'] = orders_with_customers['order_date'].dt.year
    orders_with_customers['order_month'] = orders_with_customers['order_date'].dt.month
    
except Exception as e:
    print(f" Erreur : {e}")
    print("Orders:", orders.columns.tolist() if 'orders' in locals() else "Not defined")
    print("Customers:", customers.columns.tolist() if 'customers' in locals() else "Not defined")

✅ Orders nettoyées: 103 lignes
✅ Agrégation sales_summary créée
✅ Jointure réussie: 103 lignes

In [243]:
from sqlalchemy import create_engine, text

# First, connect to MySQL and create the DWH database if it doesn't exist
engine_tmp = create_engine('mysql+mysqlconnector://root:@localhost:3306/')
with engine_tmp.connect() as conn_tmp:
	conn_tmp.execute(text("CREATE DATABASE IF NOT EXISTS dwh_sales_management"))

# Now connect to the DWH database
engine_dwh = create_engine('mysql+mysqlconnector://root:@localhost:3306/dwh_sales_management')
conn_dwh = engine_dwh.connect()
print("Connexion DWH réussie")

Connexion DWH réussie

In [244]:
# load in DWH
try:
    # load orders in DWH
    orders.to_sql(
        name='dim_orders',          
        con=engine_dwh,             
        if_exists='replace',       
        index=False,                 
        method='multi'               
    )
    
    # load customers in DWH
    customers.to_sql(
        name='dim_customers',
        con=engine_dwh,
        if_exists='replace',
        index=False,
        method='multi'
    )
    
    # load payments in DWH
    payments.to_sql(
        name='dim_payments',
        con=engine_dwh,
        if_exists='replace',
        index=False,
        method='multi'
    )

    sales_summary.to_sql('fact_sales_summary', engine_dwh, if_exists='replace')
    orders_with_customers.to_sql('fact_orders_enriched', engine_dwh, if_exists='replace')
    
    print("Chargement DWH terminé:")
    print("   - dim_orders créée")
    print("   - dim_customers créée") 
    print("   - dim_payments créée")
    
except Exception as e:
    print(f"Erreur : {e}")

Chargement DWH terminé:
   - dim_orders créée
   - dim_customers créée
   - dim_payments créée

In [245]:
# FINAL EXPORT AND VERIFICATION
try:
    # Ensure DWH engine is active
    if 'engine_dwh' not in locals():
        engine_dwh = create_engine('mysql+mysqlconnector://root:@localhost:3306/dwh_sales_management')
    
    # Export transformed data to DWH
    if 'sales_summary' in locals():
        sales_summary.to_sql('sales_summary', engine_dwh, if_exists='replace', index=False)
        print("sales_summary exported to DWH")
    
    if 'orders_clean' in locals():
        orders_clean.to_sql('orders_clean', engine_dwh, if_exists='replace', index=False)
        print("orders_clean exported to DWH")
        
        # Export CSV 
        orders_clean.to_csv('orders_clean.csv', index=False)
        print("orders_clean.csv created")
    
    # Final DWH verification
    with engine_dwh.connect() as conn_check:
        result = conn_check.execute(text("SHOW TABLES"))
        tables = [row[0] for row in result.fetchall()]
        
        print(f"\nDWH created successfully! Available tables ({len(tables)}):")
        for table in tables:
            # Count rows in each table
            count_result = conn_check.execute(text(f"SELECT COUNT(*) FROM {table}"))
            count = count_result.fetchone()[0]
            print(f"   - {table}: {count} rows")
    
    # Proper connection cleanup
    if 'engine_dwh' in locals():
        engine_dwh.dispose()
        print("\nDWH connection closed")
    
    if 'conn' in locals() and conn.is_connected():
        conn.close()
        print("Source connection closed")
    
    print("\nETL PROCESS COMPLETED SUCCESSFULLY!")
    
except Exception as e:
    print(f"Final export error: {e}")
    import traceback
    traceback.print_exc()

sales_summary exported to DWH
orders_clean exported to DWH
orders_clean.csv created

DWH created successfully! Available tables (7):
   - dim_customers: 24 rows
   - dim_orders: 103 rows
   - dim_payments: 252 rows
   - fact_orders_enriched: 103 rows
   - fact_sales_summary: 20 rows
   - orders_clean: 103 rows
   - sales_summary: 20 rows

DWH connection closed
Source connection closed

ETL PROCESS COMPLETED SUCCESSFULLY!